# #*Task1*

TASK 1: Web Scraping

● Use Python libraries like BeautifulSoup or Scrapy to extract data from websites.

● Identify and collect relevant datasets from public web pages.

● If you don’t code, use automated tools like Octoparse or ParseHub.

● Learn to handle HTML structure and web navigation to gather accurate data.

● Create custom datasets tailored to specific analysis needs.

In [2]:
# import required libraries :

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
# Send request to the website (We use book info from books.toscrape.com)

response = requests.get("https://books.toscrape.com/")
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
# Extract book info

books = soup.find_all('article', class_='product_pod')

data = []

for book in books:
    title = book.h3.a['title']
    price = book.find('p', class_='price_color').text
    rating = book.p['class'][1]  # e.g. 'Three'
    
    data.append({
        'Title': title,
        'Price': price,
        'Rating': rating
    })

In [5]:
# Save it to CSV

df = pd.DataFrame(data)
df.to_csv('books_data.csv', index=False)

print("Data scraped and saved successfully!")

Data scraped and saved successfully!

In [6]:
df

                                                Title    Price Rating
0                                A Light in the Attic  Â£51.77  Three
1                                  Tipping the Velvet  Â£53.74    One
2                                          Soumission  Â£50.10    One
3                                       Sharp Objects  Â£47.82   Four
4               Sapiens: A Brief History of Humankind  Â£54.23   Five
5                                     The Requiem Red  Â£22.65    One
6   The Dirty Little Secrets of Getting Your Dream...  Â£33.34   Four
7   The Coming Woman: A Novel Based on the Life of...  Â£17.93  Three
8   The Boys in the Boat: Nine Americans and Their...  Â£22.60   Four
9                                     The Black Maria  Â£52.15    One
10     Starving Hearts (Triangular Trade Trilogy, #1)  Â£13.99    Two
11                              Shakespeare's Sonnets  Â£20.66   Four
12                                        Set Me Free  Â£17.46   Five
13  Scott Pilgrim's Precious Little Life (Scott Pi...  Â£52.29   Five
14                          Rip it Up and Start Again  Â£35.02   Five
15  Our Band Could Be Your Life: Scenes from the A...  Â£57.25  Three
16                                               Olio  Â£23.88    One
17  Mesaerion: The Best Science Fiction Stories 18...  Â£37.59    One
18                       Libertarianism for Beginners  Â£51.33    Two
19                            It's Only the Himalayas  Â£45.17    Two

## Web Scraping Task-1 Summary – Books Data from Website

Objective:
To extract data (book title, price, and rating) from a public website and create a custom dataset using Python.

Tools/Libraries Used:
requests – to send an HTTP request and fetch the webpage
BeautifulSoup – to parse and extract specific data from the HTML content
pandas – to store the scraped data in a structured table and save it as a CSV file.

Website Used:
https://books.toscrape.com – a demo site for scraping book data.

Data Extracted:
For each book on the main page, you extracted:
📚 Title of the book
💵 Price
⭐ Rating (e.g., One, Two, Three, etc.)

Output:
A CSV file named books_data.csv stored in df.